// BASE STYLES

@use "variables" as *;
@use "mixins" as *;

// CSS RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines the size of 1 rem / = 10px.
  font-size: 62.5%;
  position: relative;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    // $color-x-light 5%,
    $color-light 10%,
    $color-medium,
    $color-medium-dark,
    $color-dark
  );
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h1,
h2,
h3 {
  font-family: $fonts-headline;
}

h1,
header h2 {
  display: none;
}

h3 {
  text-align: center;
  font-size: $fonts-headline-size;
  letter-spacing: 1px;
  line-height: 2.5rem;
  padding: $small-space;
  color: $color-dark;
  @include h3-text-box();
  background-image: linear-gradient(
    to bottom,
    $color-x-light 25%,
    $color-light 60%,
    $color-medium 96%
  );
}

p {
  @include set-font();
  padding: $extra-small-space 0;
}

li {
  @include set-font();
  padding: $li-spacing;
}
