// LARGE SCREEN

@use "variables" as *;
@use "mixins" as *;

@media only screen and (width >= 72rem) {
  header::after {
    content: url(CityScape.svg);
    max-width: 105rem;
    margin: 0 auto;
    filter: drop-shadow(0 0 7rem $secondary-accent2);
  }

  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    margin: 0;
  }

  .page-wrapper {
    max-width: 124rem;
    margin: 5vw auto;
    @include grid(2fr 1fr);
    grid-template-rows: auto auto 15rem;
    gap: $xx-large-space;
  }

  .intro {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .main {
    grid-column: 1/2;
    grid-row: 2/3;
    @include grid(1fr);
    gap: $xx-large-space;
    margin: 0 0 0 5vw;
  }

  .sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    margin: 0 5vw 0 0;
  }

  .summary {
    max-width: 66%;
    margin: $xx-large-space 0;
  }

  .main footer {
    margin-top: 15remrem;
    margin-bottom: 10rem;
    max-width: 106rem;
    gap: $xxx-large-space;

    a {
      padding: $medium-space $large-space;
    }
  }

  .requirments {
    margin-bottom: $xxx-large-space;
  }
}
