@use "variables" as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1.6rem, $line-height: 1.6, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

@mixin text-box() {
  background-color: $secondary-accent2;
  padding: $medium-space $large-space;
  color: $color-dark;
  border-radius: $extra-small-space;
  margin: $x-large-space $extra-small-space;
}

@mixin color-box($box-color: $primary-accent) {
  border: 0.5rem solid $box-color;
}

@mixin h3-text-box() {
  border: 0.3rem solid $color-dark;
  border-radius: 0.5rem;
  outline: $color-dark solid 0.15rem;
  outline-offset: -$extra-small-space;
}
