@use "variables" as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1.6rem, $line-height: 1.6, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

@mixin text-box() {
  background-color: $secondary-accent2;
  padding: $medium-space $large-space;
  color: $color-dark;
  border-radius: $extra-small-space;
}

@mixin color-box($box-color: $primary-accent) {
  border: 0.6rem solid $box-color;
}

@mixin h3-set-font($size: 2.25rem) {
  text-align: center;
  font-size: $size;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

@mixin h3-text-box() {
  border: 0.4rem solid $color-dark;
  border-radius: 0.6rem;
  outline: $color-dark solid 0.2rem;
  outline-offset: -$extra-small-space;
}
