//variables for css zen garden

$background-color: #a9bbc2;
$primary: #8a1100;
$accent1: #ffe118;
$accent2: #6c8c9b;
$grey-sidebar: #334951;
$text-dark: #000000;
$text-light: #ffffff;

$color-bright: lime;

$fonts-headline: "Limelight", serif;
$fonts-headline-size: 50px;
$fonts-headline-color: #000000;

$fonts-body: "Poiret One", serif;
$fonts-body-size: 20px;
$fonts-body-color: #000000;

//colors
