//variables for css zen garden

$background-color-light: #a7bac1;
$background-color-dark: #1c2f3a;
$primary: #557687;
$primary-accent1: #b32524;
$primary-accent2: #8d1a1c;
$secondary-accent: #fec215;

$text-dark: #141f26;
$text-light: #ffefcd;

$fonts-headline: "Limelight", serif;
$fonts-main-headline: 48px;
$fonts-secondary-headline: 32px;
$fonts-secondary-color: #1c2f3a;
$fonts-aside-headline: 28px;
$fonts-aside-color: #b32524;

$fonts-body: "Poiret One", serif;
$fonts-body-size: 20px;
$fonts-body-color: #141f26;

// COLORS OF CITYSCAPE ILLUSTRATION
// Blues-light to dark: #8DA4AE, #718C9A, #557687, #395F72, #314F60, #25404D, #1C2F3A, #141F26
// Red: #b32524, #8D1A1C
// Yellow: #FFF0D3, #FFEEBD, #FFE69E, #FEC215
