// COLORS OF CITYSCAPE ILLUSTRATION
// Blues-light to dark: #D6E2E3, #A7BAC1   #718C9A, #557687, #395F72, #314F60, #25404D, #1C2F3A, #141F26
// Red: #b32524, #A72220, #89181A
// Yellow: #FFFBF2 #FFF0D3, #FFEEBD, #FFE69E, #FEC215

//VARIABLES FOR ART DECO ZEN GARDEN

// COLORS AND FONTS

$color-x-light: #a7bac1;
$color-light: #8da4ae;
$color-medium: #557687;
$color-medium-dark: #314f60;
$color-dark: #141f26;
$primary-accent: #a72220;
$primary-accent-light: #b32524;
$primary-accent-dark: #89181a;
$secondary-accent1: #fec215;
$secondary-accent2: #fffbf2;

// FONT STYLE VARIABLES

$fonts-headline: "Limelight", serif;
$fonts-headline-size: 2.15rem;
$fonts-color: #1c2f3a;

$fonts-body: "Poiret One", serif;
$fonts-body-size: 20px;

// SIZES
$xx-large-space: 8rem;
$x-large-space: 4rem;
$large-space: 3rem;
$medium-space: 2rem;
$small-space: 1.5rem;
$extra-small-space: 1rem;
$li-spacing: 0.6rem;

$outline-offset: 1.25rem;
